
.eventButtonInfo {
  position: absolute;
  float:right;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 5px;
  background-color:#f95959;
  
}
.eventButtonRSVP {
  position: absolute;
  float: left;
  top: 0;
  right: 150px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #f95959;
}

.userName {
  position: relative;
  float: right;
  top: 0;
  right: 0px;
  left: 0px;
  margin-top: 0px;
  margin-left:0px;
  padding-top: 0px;
  color: white;
}
.colorEvent {
  background-color: #233142;
  padding: 0px;
}

 .containerCount{
  position: fixed;
  width: 300px;
  top: 0;
  right: 300px;
  margin-top: 20px;
  margin-right: 30px;
}

.invitedNum {
  position: relative;
  color: white;
  float: left;

}
.rsvpCount {
  position: relative;
  float: right;
  color: white;
}

.eventsTitle {
  position: relative;
  color: white;
  font-size: 25px;
  padding: 0px;
  /* margin: 0px; */

}