* {
  margin: 0;
  padding: 0;
}
.eventButtonInfo {
   /* position: absolute;
  float:right;
   top: 0;
  right: 0; 
  margin-top: 10px;*/
   /* margin-right: 5px;    */
  background-color:#f95959;
  margin-right: 10px;
  
 
}

.eventButtonInfo:hover {
  background-color: #f95959;
  opacity: 0.5;
}

.eventButtonInfo:active {
  background-color: #f95959 !important;
  
}

.eventButtonInfo:focus {
  background-color: #f95959;
  border-style: none;
}

.eventButtonInfo:visited {
  background-color: #f95959;
  border-style: none;
 
}

.eventButtonRSVP {
  /* position: absolute; 
   float: left; 
   top: 0;
  right: 150px; 
  margin-top: 10px;
  margin-right: 5px;*/
  background-color: #f95959;
 margin-right: 10px;
}

.eventButtonRSVP:hover {
  opacity: 0.5;
  background-color: #f95959;
}

.eventButtonRSVP:hover {
  background-color: #f95959;
  opacity: 0.5;
}

.eventButtonRSVP:active {
  background-color: #f95959 !important;
  
}

.eventButtonRSVP:focus {
  background-color: #f95959;
  border-style: none;
}

.eventButtonRSVP:visited {
  background-color: #f95959;
  border-style: none;
 
}

.userName {
   /* position: relative; 
  float: right;
  top: 0;
  right: 0px;
  left: 0px; */
  color: white;
  font-size: 20px;
  
}
.colorEvent {
  background-color: #233142;
  padding-bottom: 0px;
}

 /* .containerCount{
  /* position: fixed;
  width: 300px; 
  top: 0;
  right: 300px;
  margin-top: 20px;
  margin-right: 30px; 
} */

.invitedNum {
  color: white;
   /* float: left;  */

}
.rsvpCount {
   /* float: right;  */
  color: white;
}

.eventsTitle {
  /* position: relative; */
  color: white;
  font-size: 25px;
  
}

