* {
  margin: 0;
  padding: 0;
}

.center {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.item-card {
   width: 450px;
  height: 450px; 
   border: solid 1px #455d7a;  
  border-radius: 50px 50px;
  box-shadow: 10px 10px #455d7a83;
  margin-top: 30px;
}

.item-card-header {
  /* position: relative; */
  height: 100%;
  width: 100%;
  background-color: white !important ;
  color: #455d7a !important;
  border-radius: 30px !important;
  padding: 20px;
  overflow: none;
  margin: auto;
  border: 1px solid white;
}

.quantity-needed {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  float: right;
  margin: 20px;
  font-size: 20px;
  color: #fff;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
}

 .display-item-cards {
  margin-top: 5em;
  display: grid;
  grid-template-columns: auto auto auto;
} 

.reduceGap {
  padding: 0;
  width: 90%;
  margin: auto;
}
