
.color-adminNav {
  background-color: #223142;
  margin-top: 0px;
}

.logoutButton {
  background-color: #f95959;
}

.logoutButton:hover {
  opacity: 0.5;
  background-color: #f95959;
}

.containerButton {
  position: absolute;
  right: 0px;
  margin-right: 10px;
  margin-top: 0px;
}

.myEvents {
  font-size: 25px;
  color: white;
}

.createEvent {
  /* margin-top: px; */
  margin-right: 5px;
  background:#f95959;
}

.createEvent:hover {
  background: #f95959;
  opacity: 0.5;
}

.createEvent:after {
  background: #f95959;
}

.logoutButton {
  /* margin-top: 10px; */
  margin-right: 5px;
}