* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3;
}


.upcomingEventCard {
    background-color: #455d7a !important;
    color: #e3e3e3;
    text-align: center;
}

.pastEventCard {
    background-color: #455d7a !important;
    color: #e3e3e3;
    text-align: center;
}

.card {
  background-color: #e3e3e3;  
  margin: 10px;
  border: 1px solid #455d7a;
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: #e3e3e3;
       
    }
}