* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3;
}


.upcomingEventCard {
    background-color: #455d7a !important;
    color: #455d7a;
    height: 100vh;
}

.text-center {
    margin-top: 10px;
    color: #455d7a;
    background-color: #e3e3e3;
}

.pastEventCard {
    background-color: #455d7a !important;
    color: #455d7a;
   height: 100vh;
}

.card {
  background-color: #455d7a;  
  margin: 10px;
  border: 1px solid #455d7a;
  height: 450px;
 
}

.cardBody {
    background-color: #e3e3e3;
    color: #455d7a;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    height: auto;
    
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: #e3e3e3;
       margin-top: 200px;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        background-color: #e3e3e3;
       margin-top: 175px;
    }
}